{% extends 'base.html' %}
{% block body %}
<div class="ui attached message" style="margin-top: 50px">
        <div class="header">
            Forgot Password
        </div>
    </div>
    <form action="" method="post" class="ui large attached fluid segment form" novalidate>
        {{ form.csrf_token }}

        <!-- Email field and validation -->
        {% if form.email.errors %}
            <div class="error field required">
                {{ form.email.label }}
                {{ form.email }}
                {% for error in form.email.errors %}
                    <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
                {% endfor %}
            </div>
        {% else %}
            <div class="field required">
                {{ form.email.label }}
                {{ form.email }}
            </div>
        {% endif %}

        <button class="ui fluid olive inverted button">Send Reset Link</button>
    </form>
{% endblock body %}