{% extends 'base.html' %}
{% block body %}
    <div class="ui attached message" style="margin-top: 50px">
        <div class="header">
            Reset Password
        </div>
    </div>
    <form action="" method="post" class="ui large attached fluid segment form" novalidate>
        {{ form.csrf_token }}

        <!-- Password field and validation -->
        {% if form.password.errors %}
            <div class="error field required">
                {{ form.password.label }}
                {{ form.password }}
                {% for error in form.password.errors %}
                    <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
                {% endfor %}
            </div>
        {% else %}
            <div class="field required">
                {{ form.password.label }}
                {{ form.password }}
                <small>{{ form.password.description }}</small>
            </div>
        {% endif %}

        <!-- Password2 field and validation -->
        {% if form.password2.errors %}
            <div class="error field required">
                {{ form.password2.label }}
                {{ form.password2 }}
                {% for error in form.password.errors %}
                    <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
                {% endfor %}
            </div>
        {% else %}
            <div class="field required">
                {{ form.password.label }}
                {{ form.password }}
                <small>{{ form.password.description }}</small>
            </div>
        {% endif %}
        <button class="ui fluid green inverted button">Reset Password</button>
    </form>
{% endblock body %}